<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rong.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.rong.entity.User">
        <id column="uid" jdbcType="INTEGER" property="uid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="CHAR" property="password" />
        <result column="salt" jdbcType="CHAR" property="salt" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>
    <sql id="Base_Column_List">
        uid, username, password, salt, phone, email, gender, avatar, is_delete, created_user,
  created_time, modified_user, modified_time
    </sql>


    <delete id="delete" parameterType="java.lang.Integer">
        delete from user
        where uid = #{uid,jdbcType=INTEGER}
    </delete>


    <insert id="insert" parameterType="com.rong.entity.User">
        insert into t_user (uid, username, password,
                          salt, phone, email, gender,
                          avatar, is_delete, created_user,
                          created_time, modified_user, modified_time,admin
        )
        values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR},
                #{salt,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
                #{avatar,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{createdUser,jdbcType=VARCHAR},
                #{createdTime,jdbcType=TIMESTAMP}, #{modifiedUser,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP},
                #{admin,jdbcType=INTEGER}
               )
    </insert>


    <insert id="insertDynamic" parameterType="com.rong.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createdUser != null">
                created_user,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedUser != null">
                modified_user,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=CHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createdUser != null">
                #{createdUser,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedUser != null">
                #{modifiedUser,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="updateDynamic" parameterType="com.rong.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=CHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createdUser != null">
                created_user = #{createdUser,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedUser != null">
                modified_user = #{modifiedUser,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>


    <update id="update" parameterType="com.rong.entity.User">
        update user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=CHAR},
            salt = #{salt,jdbcType=CHAR},
            phone = #{phone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            gender = #{gender,jdbcType=INTEGER},
            avatar = #{avatar,jdbcType=VARCHAR},
            is_delete = #{isDelete,jdbcType=INTEGER},
            created_user = #{createdUser,jdbcType=VARCHAR},
            created_time = #{createdTime,jdbcType=TIMESTAMP},
            modified_user = #{modifiedUser,jdbcType=VARCHAR},
            modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
        where uid = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateInfoByUid">
        update t_user set
        <if test="modifiedUser != null">
            modified_user = #{modifiedUser},
        </if>
        <if test="modifiedTime != null">
            modified_time = #{modifiedTime},
        </if>
        <if test = "phone != null">
            phone = #{phone},
        </if>
        <if test = "email != null">
            email = #{email},
        </if>
        <if test= "gender != null">
            gender = #{gender}
        </if>
        where uid = #{uid}
    </update>
    <update id="updateAvatarByUid">
        update t_user set
        <if test="avatar !=null">
            avatar = #{avatar}
        </if>
        where uid = #{uid}
    </update>

    <update id="updatePasswordByUid" parameterType="com.rong.entity.User">
        update t_user set
        <if test="password != null">
            password = #{password},
        </if>
        <if test="modifiedUser != null">
            modified_user = #{modifiedUser},
        </if>
        <if test="modifiedTime != null">
            modified_time = #{modifiedTime}
        </if>
        where uid = #{uid}
    </update>


    <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  t_user
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <select id="findByUid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
            t_user
        WHERE
            uid = #{uid}
          and is_delete = 0;
    </select>
    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_user
        WHERE
            username = #{username}
        and is_delete = 0;
    </select>


    <sql id="findPageWithWhere">
        <where> 1=1
            <if test="uid != null" >
                and uid = #{uid,jdbcType=INTEGER}
            </if>
            <if test="username != null and username != ''" >
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null" >
                and password = #{password,jdbcType=CHAR}
            </if>
            <if test="salt != null" >
                and salt = #{salt,jdbcType=CHAR}
            </if>
            <if test="phone != null and phone != ''" >
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''" >
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="gender != null" >
                and gender = #{gender,jdbcType=INTEGER}
            </if>
            <if test="avatar != null and avatar != ''" >
                and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="isDelete != null" >
                and is_delete = #{isDelete,jdbcType=INTEGER}
            </if>
            <if test="createdUser != null and createdUser != ''" >
                and created_user = #{createdUser,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null" >
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedUser != null and modifiedUser != ''" >
                and modified_user = #{modifiedUser,jdbcType=VARCHAR}
            </if>
            <if test="modifiedTime != null" >
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>




</mapper>